
.Principal-Home{
    background-color: #E8F1F2;
    @import url('https://fonts.googleapis.com/css2?family=Roboto1:wght@100&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Roboto3:wght@100;700&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Roboto2:wght@100;400;700&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
       @import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
       
       .Direcionamentos{
           display: flex;
           flex-direction: row;
           font-size: 3vh;
           align-items: center;
           margin: 7vh 10vh 10vh 30vh;
           gap: 3em;
   
       }
   
       .Direcionamentos  a{
           font-size: 25px;
           text-decoration: none;
           text-align: center;
           color: black !important;
       }
   
       .Direcionamentos:hover > a{
           cursor: pointer;
       }
   
        Link{
           width: auto;
       }
   
       .Carrossel{
           box-sizing: border-box;
           position: absolute;
           width: 200vh;
           height: 70vh;
           left: 42px;
           top: 190px;
           background: #FFFFFF;
           border: 1px solid #000000;
       }
   
   
       .Container2{
           display: flex;
           flex-direction: column;
          
       }
   
       p{
           flex-direction: column;
           font-size: 3vh;
           margin: 70vh 10vh 10vh 90vh;
       }
   
       .Seletor{
           background-color:#122030;
           height: 10vh;
           width: 230vh;
           display: flex;
           flex-direction: row;
           
       }
   
    .seletores{
       
      align-items: center;
       display: flex;
       flex-direction: row;
       gap:1em;
       color: #ffffff;
       margin: 1vh 20vh;
    }
   
    .Imagens{
      display: flex;
      flex-direction: row;
      width: 50px;
      margin: 7vh;
      height: 30vh;
      gap: 11em;
    }
   
   

    .Container3{
        display: flex;
        flex-direction:column;
        background-color: #ffffff;
        margin:7vh 15vh;
        width: 190vh;
        height: 50vh;
    }
   
   .Paragrafo{
    flex-direction: column;
    font-size: 3vh;
    margin: 20vh 10vh 10vh 90vh;
   
   
   }
   .Imagens-Nossos-Trabalhos{
    display: flex;
      flex-direction: row;
      width: 50px;
      margin: 15vh;
      margin-top: -15vh;
      height: 20vh;
      gap: 5em;
   }

   .Imagens-Depoimentos-dos-Clientes{
    background-color: #C59B9B;
    margin-top: -23vh;
    width: 110vh;
   }
    

   .Paragrafo1{
    display: flex;
    flex-direction: column;
    margin-top: -15vh;
    font-size: 3vh;
    margin: 10vh 20vh 30vh;
    
   }

   .hr{
    background-color: #000000;
   
   }

   .Container4{
    align-items: center;
    display: flex;
    flex-direction:column;
    background-color: #ffffff;
    margin:10vh 15vh;
    width: 190vh;
    height: 40vh;

   }
 
   .Mas-Depoimentos{
    background-color: #122030;
    border-radius: 10vh;
    border:none;
    margin: 1vh;
    color: #ffffff;
    
   }

 
   .Mas-Depoimentos:hover {
      cursor: pointer;
      transform: scale(1.2);
   }
 
   }