
.Page-Login{
background-color:#E8F1F2;
flex-direction: row;


    .Container-Imagem{
        display: flex;
        flex-direction: row;
       margin: 9vh;
        background-color: #122030;
        border-radius: 2vh;
        gap: 9vh;
        height: 60vh;
        width: 70vh;
 }

 .Container-Imagem2{
    display: flex;
    flex-direction: row-reverse;
 background-color: #E8F1F2;
 margin: 30vh;
 height: 10vh;
 width: 10vh;
 }





 






}