


.faixa{
    display: flex;
    flex-direction: row;
    background-color:#132030;
    height:13vh;
    
   
}



.logo{
margin-left: 44em;
margin-top: -0em;


}

.botao-painel{
    background-color: #E8F1F2;
    border-radius: 10px;
   width: 7em;
    height: 35px;
    border: 1px solid #E8F1F2;
    }
    
    .botao{
     margin-top: 2em;
    margin-left: 43em;
    
    }
    
